::-webkit-scrollbar {
  display: none;
}

[type=checkbox] {
-webkit-appearance: none;
width: 11px;
height: 11px;
vertical-align: middle;
/*border: 0;
outline: 0;
flex-grow: 0;*/
border-radius: 50%;
background-color: white;
transition: background 0.3s;
cursor: pointer;
}
[type=checkbox]:checked {
background-color: currentcolor;
}
[type=checkbox]:checked::before {
box-shadow: none;
}
[type=checkbox]:disabled {
background-color: #CCD3D8;
opacity: 0.84;
cursor: not-allowed;
}


div * {
font-family: Arial;
user-select: none;
}

.app {
display: grid;
grid-template-columns: 15% 1fr 15%;
/*grid-template-columns: minmax(256px, 1fr) 1fr minmax(1%, 15%);*/
grid-template-rows: 30px 60px 20px auto;
overflow-y: scroll;
}

.no-houses {
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 40;
opacity: 0.45;
background-color: #ebedf4;
}

.house-not-found, 
.loading {
display: flex;
justify-content: center;
align-items: center;
/*font-weight: bold;*/
height: 300px;
color: white;
opacity: 0.6;
font-weight: bold;
font-size: 40;
background: linear-gradient(70deg, #F2F2F2, #BCBDC1, #F2F2F2);
background-position: right;
background-size: 250% 250%;
animation-name: loading-window;
animation-duration: 2.5s;
animation-iteration-count: infinite;
/*animation-timing-function: linear;*/
animation-timing-function: ease-in-out;
animation-direction: alternate;
}

@keyframes loading-window {
from {background-position: 0% 100%;}
to {background-position: 100% 0%;}
}

/*@keyframes loading-window {
0% {background: green}
50% {background: red}
100% {background: green}
}*/

.content {
display: grid;
/*align-content: center;*/
/*grid-template-rows: auto;*/
/*overflow-y: scroll;*/
grid-row: 4 / 5;
grid-column: 2 / 3;
}

.header {
/*position: sticky;*/
/*why with top:40px its rich position:fixed effect - idk */
/*top: 40px;*/
/*position: fixed;*/
display: grid;
grid-template-columns: 250px 1fr;
align-content: center;
gap: 6px;
grid-row-start: 2;
grid-column: 2 / 3;
}
.header-main {
grid-column: 1 / 2;
}
.header-houses,
.header-back-to-houses {
grid-column: 2 / 3;
}
.header-about {
grid-column: 3 / 4;
}
.header-main,
.header-houses,
.header-back-to-houses,
.header-about {
display: flex;
text-align: center;
justify-content: center;
align-items: center;
text-decoration: none;
color: black;
font-weight: bold;
font-size: 40;
font-color: black;
opacity: 0.45;
background-color: #ebedf4;
transition-duration: 0.2s;
}
.header-back-to-houses {
animation-name: header-back-button;
animation-duration: 0.8s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-direction: alternate;
}
@keyframes header-back-button {
from {background-color: #ebedf4;}
to {background-color: #BABCC1;}
}
.header-main:hover,
.header-houses:hover,
.header-about:hover {
opacity: 0.8;
}
.header-house  active,
.header-main  active {
background-color: #caccd4;
opacity: 0.6;
animation-name: stop;
}

.main {
background-color: #ebedf4;
}
.about {
background-color: #ebedf4;
}

.houses-list-page {
display: grid;
gap: 6px;
grid-template-columns: 250px 1fr;
grid-template-rows: 81.5vh;
/*grid-template-rows: 50%;*/
}

.houses-list {
display: grid;
grid-row: 1 / 2;
grid-column: 2 / 4;
grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
grid-auto-rows: 150px;
grid-gap: 3px;
/*max-height: 100%;*/
/*height: 100%;*/
max-width: 100%;
overflow-y: scroll;
}

.side-bar {
/*position: sticky;*/
/* top: 120px - because of app. { grid-template-rows: 30px 60px 20px; }  30+60+20=110 */
/*top: 120px;*/
display: grid;
gap: 6px;
grid-template-rows: auto 1fr;
max-height: 100%;
overflow-y: scroll;
}

.sorting-block {
display: flex;
flex-direction: column;
gap: 3px;
grid-column: 1 / 2;
grid-row: 1 / 2;
}
.sorting-icons {
display: flex;
height: 50px;

gap: 8px;
}
.sorting-info {
display: flex;
justify-content: center;
align-items: center;
height: 25px;
font-size: 12px;
color: rgba(0, 0, 0, 0.7);
opacity: 0.8;
background-color: #ebedf4;
transition-duration: 0.8s;
}

.random-sorting {
background: url("icons/sorting_random.svg") no-repeat center center;
}
.regular-sorting {
background: url("icons/sorting_regular.svg") no-repeat center center;
}
.area-sorting {
background: url("icons/sorting_area.svg") no-repeat center center;
}
.bedroom-sorting {
background: url("icons/sorting_bed.svg") no-repeat center center;
}
.bathroom-sorting {
background: url("icons/sorting_bath.svg") no-repeat center center;
}
.sorting-max-min {
background: url("icons/sorting_arrow_down.svg") no-repeat center center;
background-color: #dfe0e5;
}
.sorting-min-max {
background: url("icons/sorting_arrow_up.svg") no-repeat center center;
background-color: #dfe0e5;
}

.random-sorting,
.regular-sorting,
.area-sorting,
.bedroom-sorting,
.bathroom-sorting,
.sorting-max-min,
.sorting-min-max {
flex: 1;
width: 100%;
height: auto;
transition-duration: 0.2s;
opacity: 0.8;
background-color: #ebedf4;
}

.sorting-info:hover,
.random-sorting:hover,
.regular-sorting:hover,
.area-sorting:hover,
.bedroom-sorting:hover,
.bathroom-sorting:hover {
opacity: 1;
}

.filters-collector {
display: flex;
flex-direction: column;
gap: 3px;
grid-row-start: 2;
grid-column: 1 / 2;
font-size: 12px
}

.house-block-container {
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.house-block-no-image-info {
position: absolute;
font-size: 30px;
color: white;
pointer-events: none;
opacity: 1;
transition-duration: 0.5s;
/*background-color: rgba(0, 0, 0, 0.4);*/
}
.house-block-sorting-info {
position: absolute;
font-size: 30px;
color: white;
pointer-events: none;
opacity: 1;
transition-duration: 0.5s;
background-color: rgba(0, 0, 0, 0.4);
}

.house-block-container:hover .house-block-no-image-info,
.house-block-container:hover .house-block-sorting-info {
opacity: 0;
}

.house-block-without-image,
.house-block {
position: relative;
display: flex;
flex: 1;
background: no-repeat;
text-decoration: none;
width: auto;
height: 100%;
background-size: cover;
background-position: center;
opacity: 0.9;
filter: grayscale(0.8);
transition-duration: 0.5s;
}
.house-block-without-image {
background-color: #ebedf4;
}
.house-block-without-image:hover,
.house-block:hover {
transform: scale(1);
filter: grayscale(0);
background-position: 32;
opacity: 1;
}

.house-block-name {
position: absolute;
font-size: 12px;
color: black;
transition-duration: 0.3s;
z-index:2;
}

.house-block-details {
display: flex;
position: relative;
flex-direction: column;
justify-content: flex-end;
font-family: Arial;
font-size: 12px;
color: black;
transition-duration: 0.3s;
z-index:1;
opacity: 0;
}

.house-block-details > div {
padding: 0;
margin-bottom: 2;
}

.house-block:hover .house-block-details,
.house-block-without-image:hover .house-block-details {
background-color: rgba(235, 237, 244, 0.9);
padding-right: 3;
opacity: 1;
}

.house-block:hover .house-block-details > div,
.house-block-without-image:hover .house-block-details > div {
opacity: 0.7;
}

.house-block:hover .house-block-name,
.house-block-without-image:hover .house-block-name {
font-size: auto;
font-weight: bold;
opacity: 0.7;
}


.house {
display: grid;
grid-template-columns: 256px 1fr;
grid-template-rows: 1fr auto;
}
.house-details {
display: grid;
grid-template-rows: 50px 90px 50px 100px 1fr;
grid-column: 1 / 2;
margin-right: 8;
background-color: #ebedf4;
position: relative;
}
.house-model-name {
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
opacity: 0.7;
background-color: #c93232;
}
.house-composition-title {
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
opacity: 0.7;
background-color: #C8C9CE;
}
.house-common-info {
grid-row: 2 / 3;
}
.house-common-info,
.house-composition-1,
.house-composition-2 {
margin: 8;
}
.house-composition-1 {
grid-column: 1 / 2;
grid-row: 4 / 5;
position: absolute;
bottom: 0;
margin-bottom: -8;
}
.house-composition-2 {
grid-column: 1 / 2;
grid-row: 5 / 6;
}
.house-common-info > div,
.house-composition > li {
margin: 5;
margin-left: 10;
font-size: minmax(10px, 17px);
opacity: 0.7;
}
.house-composition-1 > li,
.house-composition-2 > li {
margin-left: -20;
opacity: 0.6;
}


.house-views {
display: flex;
grid-template-rows: auto;
align-items: baseline;
grid-column: 2 / 3;
position: relative;
}
.house-view {
position: absolute;
opacity: 0;
}
.house-view,
.house-view-current {
width: 100%;
height: auto;
transition-duration: 0.5s;
}
.prev-view {
position: absolute;
left: 0;
height: 100%;
width: 50%;
opacity: 0;
background-color: #ebedf4;
z-index: 2;
transition-duration: 0.2s;
}
.next-view {
position: absolute;
right: 0;
height: 100%;
width: 50%;
/*opacity: 0.3;*/
opacity: 0;
background-color: #ebedf4;
z-index: 2;
transition-duration: 0.2s;
}
/*.prev-image:hover,
.next-image:hover {
opacity: 0.45;
}*/
.house-view-counter {
position: absolute;
opacity: 0.8;
z-index: 2;
font-size: 15px;
bottom: 0;
right: 0;
padding: 3;
background-color: rgba(235, 237, 244, 0.9);
}


.house-views-slider {
position: relative;
display: flex;
grid-column: 2 / 3;
/*flex-wrap: wrap;*/
justify-content: space-between;
align-items: flex-start;
gap: 8px;
/*width: 100%;*/
}
.house-views-slider-view-current,
.house-views-slider-view {
/*object-fit: contain;*/
margin-top: 8;
min-width: 0;
max-width: 100%;
min-height: 10px;
max-height: 70px;
}
.house-views-slider-view {
opacity: 0.65;
transition-duration: 0.2s;
}
.house-views-slider-view-current {
opacity: 1;
border-bottom-style: solid;
border-width: 5px;
border-color: #c93232;
margin-bottom: -5px;
}
.house-views-slider-view:hover{
opacity: 1;
}


.multiple-checkbox-filters {
display: flex;
flex-direction: column;
gap: 3px;
}

.area-filter,
.multiple-checkbox-filter,
.boolean-checkbox-filter {
display: flex;
flex-direction: column;
position: relative;
background-color: #ebedf4;
opacity: 0.7;
}

.area-filter:hover,
.multiple-checkbox-filter:hover,
.boolean-checkbox-filter:hover {
opacity: 1;
transition-duration: 0.2s;
}

.filter-header {
margin-top: 2;
margin-left: 3;
margin-bottom: 2;
}

.multiple-checkbox-filter-text,
.boolean-checkbox-filter-text {
margin-left: 5;
}

.multiple-checkbox-filter-count {
opacity: 0.5;
margin-left: 7;
}

.multiple-checkbox-filter-param,
.boolean-checkbox-filter-param {
display: flex;
align-items: center;
}

.multiple-checkbox-filter-text,
.boolean-checkbox-filter-text {
}

.multiple-checkbox-filter-clicker {
position: absolute;
width: 92%;
height: 100%;
flex: 1;
align-self: flex-end;
background-color: red;
opacity: 0;
}

.yes-no-header,
.boolean-checkbox-filter-param {
display: grid;
grid-template-columns: 20px 20px auto;
position: relative;
}
.yes-no-header {
margin-top: 1px;
}
.yes-header,
.no-header {
display: flex;
justify-content: center;
align-items: center;
font-size:9px;
}
.boolean-checkbox-yes,
yes-header {
grid-column: 1 / 2;
}
.boolean-checkbox-no,
no-header {
grid-column: 2 / 3;
}
.boolean-checkbox-filter-text {
grid-column: 3 / 4;
}
/*.boolean-checkbox-filter-param {
position: relative;
}
.boolean-checkbox-filter-value {
position: relative;
top: 100%;
}*/

@media screen and (max-width: 1400px) {
    .house {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    }
    .house-views-slider {
    grid-column: 1 / 2;
    margin-bottom: 12px;
    }
    .house-views-slider-view-current,
    .house-views-slider-view {
    height: 100%;
    }
    .house-views {
    grid-row-start: 1;
    grid-column: 1 / 2;
    }
    .house-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
    grid-row-start: 3;
    grid-column: 1 / 2;
    margin-right: 0;
    margin-top: 8;
    }
    .house-composition-title {
    display: none;
    }
    .house-model-name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    }
    .house-common-info,
    .house-composition-1,
    .house-composition-2 {
    grid-row: 2 / 3;
    }
    .house-composition-1 {
    grid-column: 2 / 3;
    position: initial;
    bottom: initial;
    }
    .house-composition-2 {
    grid-column: 3 / 4;
    }
    .house-view-counter {
    font-size: 12;
    }
}


@media screen and (max-width: 765px) {
    .app {
        grid-template-rows: 20px auto 20px auto;
        grid-template-columns: minmax(10px, 15%) 1fr minmax(10px, 15%);

    }
    .header {
        display: grid;
        grid-template-columns: minmax(256px, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .header-main {
        grid-row-start: 1;
    }
    .header-houses,
    .header-back-to-houses {
        grid-row-start: 2;
    }
    .header-main,
    .header-houses,
    .header-back-to-houses {
        grid-column: 1 / 4;
    }
    .filters-collector {
        display: none;
    }
    .content {
    top: 200px;
    grid-row: 4;
    }
    .houses-list-page {
/*    grid-template-rows: auto 762px;*/
    grid-template-rows: auto 65vh;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    }
    .side-bar,
    .sorting-block {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
/*    position: sticky;
    top: 150px;*/
    }
    .houses-list {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    height: 100%;
    overflow-y: scroll;
    }
    .house-common-info,
    .house-composition-1,
    .house-composition-2 {
    font-size: 12px;
    }
    .house-details {
    grid-template-columns: auto auto auto;
    }
    .house-view-counter {
    font-size: 9;
    }
}

@media screen and (max-width: 550px) {
    .sorting-block {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    }
    .house-details {
    grid-template-rows: 25px 65px 25px 1fr 1fr;
    grid-template-columns: 1fr;
    }
    .house-model-name {
    font-size: 20px;
    }
    .house-common-info,
    .house-composition-1,
    .house-composition-2 {
    font-size: 11px;
    margin: 3;
    margin-left: 0;
    grid-column: 1 / 4;
    }
    .house-common-info {
    grid-row: 2 / 3;
    }
    .house-composition-title {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .house-composition-1 {
    grid-row: 4 / 5;
    bottom: 0;
    margin-bottom: -3;
    }
    .house-composition-2 {
    grid-row: 5 / 6;
    }
    .house-view-counter {
    font-size: 6;
    }

}